#no-mobile{
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
    position: absolute;
    z-index: 99;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;

}
@media screen and (max-width:600px) {
    #no-mobile{
        display: none;
    }
}
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}