.screen-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 20px;
}
